body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

#left, #total {
    display: inline-block;
}

#name {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 60px;
    font-style: italic;
    color: #042d97;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#price {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    color: #fac70e;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#image {
    position: relative;
    height: 100%;
}

#price-wrapper {
    position: absolute;
    margin-left: 20%;
}

#image-wrapper {
    height: 100%;
    width: 100%;
}

#image-wrapper img {
    max-height: 100%;
}